body {
  font-family: "Open Sans", sans-serif;
  background: #e6ecf0;
}

nav {
  box-shadow: 0 4px 2px -2px gray;
}
nav ul li {
  color: #66757f;
  padding: 10px;
  cursor: pointer;
}

nav ul li:hover {
  color: #1da1f2;
  border-bottom: 1px solid #1da1f2;
  transition: all 0.15s ease-in-out;
}

.tweet-btn {
  text-transform: capitalize;
  padding: 6px 16px;
  border-radius: 100px;
  color: white;
  background-color: #1da1f2;
  float: right;
}

.tweet-btn:focus {
  border-radius: 100px;
}
